html {
	height: 100%;
}

body {
    background-color: beige;
    height: 100%;
    margin: 0;
    font-family: "Arial";
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
}

#wrapper {
    grid-row: 2;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 0% 10% 0% 10%;
    grid-row-gap: 10%;
}

.text {
    font-style: italic;
    margin: 0;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.boxes {
    font-size: 600%;
    user-select: none;
    border-radius: 10px;
    overflow: hidden;
}

#button {
    background-color: darkslategray;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-out, font-size 0.03s ease-in;
}

#button:hover {
    background-color: forestgreen;
}

#button:active {
    font-size: 500%;
}

#status {
}